.main
    --top .75rem
    padding 0 var(--top) 2rem
    height calc(100% - 45px)
    display flow-root
    overflow-y auto
    box-sizing border-box

    :global
        .adm-card
            margin-top var(--top)
