.card
    margin .75rem .75rem 0

    :global .adm-card-body
        margin 0 -12px

.list :global
    .adm-list-body
        overflow inherit
        border none

    .adm-list-item
        &:first-child .adm-list-item-content
            border none

    .adm-image-img
        border-radius 8px

.bottom
    margin-top .75rem
    padding .5rem
    background-color #fff

.center
    :global .adm-tabs-content
        overflow-y auto
        height calc(100vh - 324px - 2.25rem)
