.online
    display flex
    flex-direction column
    height 100%

    &-user
        flex none

    &-login
        flex auto
        margin-top .75rem
        display flex
        flex-direction column
        justify-content center
        align-items center
