.card :global
    .adm-card-body
        margin 0 -12px
.list :global
    .adm-list-body
        overflow inherit
        border none

    .adm-list-item
        &:first-child .adm-list-item-content
            border none

    .adm-image-img
        border-radius 8px
