.user
    display flex

    &-avatar
        margin-right 1rem

    &-info
        display flex
        flex-direction column
        justify-content space-between

        &-name
            display inline
            vertical-align middle
            color var(--adm-color-text)
            line-height 1
            font-weight 500
            font-size 1rem

        &-time
            color var(--adm-color-weak)

    &-status
        margin-left .5rem
        vertical-align middle
