.list
    height calc(100vh - 45px - 55.8px)
    overflow-y auto

    :global .adm-image
        padding 10px 0

.bottom
    padding .5rem
    background-color #fff

.flex
    display flex
    justify-content space-between

    &-left
        display flex
        flex-direction column
        justify-content center

