.welcome
    height 100%;
    --height: calc((100vh - 16.2rem) / 3)
    --header-font-size 15px
    --padding-left 12px
    --padding-right 12px

    .header
        margin-left .75rem
        font-size 15px
        padding 8px 15px 0 0
        color #999
        margin-bottom -16px

    &-body :global .adm-list-body
        overflow-y auto
        height var(--height)

    &-height
        height var(--height)
